{% extends 'core/base.html' %}

{% load static %}

{% block title %} Нормативдик документтер {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/document.css' %}">
{% endblock %}

{% block content %}
<!-- Нормативные документы -->
<div class="container">
    
    <div class="content">
        <!-- Законы  --> 
        <div class="title">
            <h2>Нормативдик документтер</h2>
        </div>
        <div class="documents">
            <div class="law-title">
                <h2>Кыргыз Республикасынын мыйзамдары</h2>
                <div class="law-block">
                    {% for order in categories.kr_laws %}
                    <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Постановлении  -->
            <div class="resolution">
                <h2>Кыргыз Республикасынын Өкмөтүнүн жоболору</h2>
                <div class="resolution-block">
                    {% for order in categories.gov_resolution %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Приказы мин.образовании -->
            <div class="order">
                <h2>Кыргыз Республикасынын Илим, жогорку билим берүү министрлигинин буйруктары, каттары</h2>
                <div class="resolution-block">
                    {% for order in categories.ministry_orders %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Приказы НГУ -->
            <div class="order-nsu">
                <h2>Нарын мамлекеттик университетинин буйруктары</h2>
                {% for order in categories.nsu_orders %}
                <div class="resolution-block">
                    <a href="{{ order.file.url }}" target="_blank">{{ order.title}}</a>
                </div>
                {% empty %}
                    <p>Документтер жок.</p>
                {% endfor %}
            </div> 

            <!-- ГОС -->
            <div class="order">
                <h2>Мамлекеттик билим берүү стандарты</h2> 
                <div class="resolution-block">
                    {% for order in categories.gos %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- CMK 1 -->
            <div class="order">
                <h2>CMK 1</h2> 
                <div class="resolution-block">
                    {% for order in categories.smk1 %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- CMK 2-->
            <div class="order">
                <h2>CMK 2</h2>
                <div class="resolution-block">
                    {% for order in categories.smk2 %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- CMK 3 -->
            <div class="order">
                <h2>CMK 3</h2> 
                <div class="resolution-block">
                    {% for order in categories.smk3 %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- CMK 4-->
            <div class="order">
                <h2>CMK 4</h2>
                <div class="resolution-block">
                    {% for order in categories.smk4 %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

             <!-- CMK 5-->
            <div class="order">
                <h2>CMK 5</h2>
                <div class="resolution-block">
                    {% for order in categories.smk5 %}
                        <a href="{{ order.file.url }}" target="_blank">{{ order.title }}</a>
                    {% empty %}
                        <p>Документтер жок.</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
