{% extends "core/base.html" %}

{% load static %}

{% block content %}
<!-- Описание -->
<div class="container">
    <section class="content">
        <article class="section-block">
            <h2>Окуу башкармалыгы</h2>
            <p>
                Окуу башкармалыгы С. Нааматов атындагы Нарын мамлекеттик университетинин түзүмдүк бөлүмү болуп саналат жана өз ишмердүүлүгүндө 
                Кыргыз Республикасынын колдонуудагы мыйзамдарына, Кыргыз Республикасынын «Билим берүү жөнүндө» Мыйзамына, 
                Кыргыз Республикасынын Билим берүү жана илим министрлигинин буйруктарына жана тескемелерине, 
                ректордун жана окуу иштери боюнча проректордун буйруктарына жана көрсөтмөлөрүнө, 
                ошондой эле НМУнун Окумуштуулар кеңешинин жыйындарында кабыл алынган токтомдорго жана чечимдерге жетекчилик кылат.
            </p>
        </article>

        <article class="section-block">
            <h2>Максаттары жана негизги милдеттери</h2>
            <p>
            Окуу башкармалыгынын негизги максаттары — Нарын мамлекеттик университетинде жүзөгө ашырылып жаткан даярдоо багыттары 
            жана адистиктер боюнча билим берүү программаларына, ошондой эле жогорку кесиптик билим берүүнүн мамлекеттик билим берүү 
            стандарттарынын талаптарына ылайык студенттерди даярдоонун окуу процессин камсыз кылуу болуп саналат.
            </p>
        </article>

        <article class="section-block">
            <h2>Окуу башкармалыгынын негизги милдеттери:</h2>
            <ul class="tasks-list"> 
                <li>Нарын мамлекеттик университетинде окуу ишин уюштуруу жана жүзөгө ашыруу;</li>
                <li>Окуу жылына карата окуу процессин пландаштыруу;</li>
                <li>Окуу сабактарынын бардык түрлөрүнүн өткөрүлүшүнө контролду жүргүзүү;</li>
                <li>Сабактардын жүгүртмө (расписание)сын түзүү;</li>
                <li>Профессордук-окутуучулук курамдын педагогикалык жүктөмүн эсепке алуу;</li>
                <li>Студенттер контингентин кыймылын (кабыл алуу, которуу, чыгаруу) эсепке алуу;</li>
                <li>Отчеттук маалыматтарды даярдоо.</li>
            </ul>
        </article>
    </section>
</div>
<!-- Описание -->


<!-- Лицензии -->
 <!--
<section class="main-section">
    <div class="container">
        <h2>Лицензиялар</h2>
        
        <div class="swiper licenses-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'img/license2.jpeg' %}" alt="Лицензия 1">
                        </div>
                        <div class="text">
                            <a href="{% url 'license' %}">Лицензия №1</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'img/license1.jpeg' %}" alt="Лицензия 2">
                        </div>
                        <div class="text">
                            <a href="{% url 'license' %}">Лицензия №2</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'img/license1.jpeg' %}" alt="Лицензия 1">
                        </div>
                        <div class="text">
                            <a href="{% url 'license' %}">Лицензия №1</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'img/license2.jpeg' %}" alt="Лицензия 2">
                        </div>
                        <div class="text">
                            <a href="{% url 'license' %}">Лицензия №2</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
-->

<!-- Образовательные программы -->
<div class="container">
    <section class="table-section">
        <h2>Билим берүү программалары</h2>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Шифр</th>
                    <th>Даярдоо багыттары</th>
                    <th>Билим берүү деңгээли</th>
                    <th>Профили</th>
                    <th>Окуу формасы</th>
                </tr>
            </thead>
            <tbody>
                {% for major in majors %}
                    {% for profile in major.profiles.all %}
                    <tr>
                        <td data-label="№">{{ forloop.parentloop.counter }}</td>
                        <td data-label="Шифр">{{ major.code }}</td>
                        <td data-label="Направление>{{ major.name }}"> {{ major.name }} </td>
                        <td data-label="Уровень образования">{{ major.get_edu_level_display }}</td>
                        <td data-label="Профиль">
                            <a href="{% url 'profile_detail' profile.slug %}">{{ profile.name }}</a>
                        </td> 
                        <td data-label="Форма обучения">{{ profile.get_study_form_display }}</td>
                    </tr>
                    {% endfor %}
                {% empty %}
                    <tr>
                        <td colspan="6">Билим берүү программалары табылган жок</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
<!-- Образовательные программы -->
{% endblock %}
