{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>Кируу</title>
</head>
<body>
    <!-- Логин -->
    <div class="auth-wrapper">
        <form method="post" class="auth-form">
            {% csrf_token %} 
            <h2>Админ панели</h2>
            <h2>Кирүү</h2>

            {% if form.non_field_errors %}
                <div class="form-error">
                    {{ form.non_field_errors|striptags }}
                </div>
            {% endif %}
            
            <div class="form-group">
                {{ form.name.label_tag }}
                <div class="input-wrapper">
                    {{ form.name }}
                </div>
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                <div class="input-wrapper">
                    {{ form.email }}
                </div>
            </div>

            <div class="form-group">
                {{ form.password.label_tag }}
                    <div class="input-wrapper">
                        {{ form.password }}

                        <span class="toggle-password" onclick="togglePassword('password', this)">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                    </div>
            </div>

            <button type="submit" class="btn">Кирүү</button>

            <p class="reset">
                <a href="{% url 'password_reset' %}"> Сырсөздү унутуп калдыңызбы?</a>
            </p>

            <p class="switch">
                Аккаунтуңуз жокпу?
                <a href="{% url 'register' %}">Катталуу</a>
            </p>
        </form>
    </div>

<script>
function togglePassword(inputId, toggle) {
    const input = document.getElementById(inputId);
    const icon = toggle.querySelector("i");

    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
    } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
    }
}
</script>

</body>
</html>