{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Установить новый пароль</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    <script>
        function togglePassword(inputId, toggleEl) {
            const input = document.getElementById(inputId);
            const icon = toggleEl.querySelector('i');

            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>
</head>
<body>

<div class="auth-wrapper">
    <form method="post" class="auth-form">
        {% csrf_token %}
        <h2>Установите новый пароль</h2>

        <!-- Пароль 1 -->
        <div class="form-group">
            {{ form.new_password1.label_tag }}
            <div class="input-wrapper">
                {{ form.new_password1 }}
                <span class="toggle-password"
                      onclick="togglePassword('id_new_password1', this)">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>
            {% if form.new_password1.errors %}
                <span class="form-error">{{ form.new_password1.errors.0 }}</span>
            {% endif %}
        </div>

        <!-- Пароль 2 -->
        <div class="form-group">
            {{ form.new_password2.label_tag }}
            <div class="input-wrapper">
                {{ form.new_password2 }}
                <span class="toggle-password"
                      onclick="togglePassword('id_new_password2', this)">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>
            {% if form.new_password2.errors %}
                <span class="form-error">{{ form.new_password2.errors.0 }}</span>
            {% endif %}
        </div>

        <button type="submit" class="btn">Сохранить</button>
    </form>
</div>

</body>
</html>
